# Analysis

The cleaning and combination of data is completed in the [DATA512_HW2_DataRetrieval_ipynb](DATA512_HW2_DataRetrieval_ipynb).  
The output was printed to a csv file, so here we read it in for our analysis

In [76]:
import pandas as pd

In [158]:
articles_data = pd.read_csv("C:/Users/fioyu/Desktop/UW/DATA512/Homework/data-512-homework_2/output/wp_politicians_by_country.csv")

In [160]:
len(articles_data)

7147

In [161]:
# Display rows with any missing or empty values
rows_with_missing = articles_data[articles_data.isna().any(axis=1) | (articles_data == '').any(axis=1)]
rows_with_missing

,article_title,country,revision_id,article_quality,population,region
898,Botche Candé,Guinea-Bissau,992221311,Stub,NaN,NaN
899,Juliano Fernandes,Guinea-Bissau,1015285975,Stub,NaN,NaN
900,Teodora Inácia Gomes,Guinea-Bissau,1060153270,C,NaN,NaN
901,Desejado Lima da Costa,Guinea-Bissau,1200012565,Stub,NaN,NaN
902,Aristide Menezes,Guinea-Bissau,1142925183,Stub,NaN,NaN
...,...,...,...,...,...,...
5932,Yun Il-seon,"Korea, South",1221352139,Start,NaN,NaN
5933,Yun So-ha,"Korea, South",1214500724,Start,NaN,NaN
5934,Yun Young-sun (minister),"Korea, South",1214785975,Stub,NaN,NaN
6544,Myriam Dossou D'Almeida,Togo,1244179914,NaN,9.1000e+00,WESTERN AFRICA
6545,Issifou Tabiou Taffa,Togo,1181550325,NaN,9.1000e+00,WESTERN AFRICA

After some examination, there countries where we did not have population or region information on. Therefore, we dropped these entries as we need these values in our analysis later.

In [80]:
articles_data_cleaned = articles_data.dropna()
articles_data_cleaned.shape[0]

7001

In [172]:
articles_data_cleaned

,article_title,country,revision_id,article_quality,population,region
0,Majah Ha Adrif,Afghanistan,1233202991,Start,4.2400e+01,SOUTH ASIA
1,Haroon al-Afghani,Afghanistan,1230459615,B,4.2400e+01,SOUTH ASIA
2,Tayyab Agha,Afghanistan,1225661708,Start,4.2400e+01,SOUTH ASIA
3,Khadija Zahra Ahmadi,Afghanistan,1234741562,Stub,4.2400e+01,SOUTH ASIA
4,Aziza Ahmadyar,Afghanistan,1195651393,Start,4.2400e+01,SOUTH ASIA
...,...,...,...,...,...,...
7142,Jacob Magnus Sprengtporten,Sweden,1235736355,C,5.6000e+00,NORTHERN EUROPE
7143,Hrant Maloyan,Syria,1250311867,C,3.0000e+00,WESTERN ASIA
7144,Yat Hwaidi,Thailand,1130454039,Stub,1.7000e+01,SOUTHEAST ASIA
7145,Sergey Abisov,Ukraine,1236963594,Start,1.4690e+02,EASTERN EUROPE
7146,Moshe Gutman,Ukraine,1226775102,Stub,9.2000e+00,EASTERN EUROPE

### Total articles per capita (country)

Notes: population_by_country_AUG.2024.csv provides populations in millions. Thus calculated proportions are likely to be very small numbers, therefore I represented them in scientific notation.

In [82]:
# Just checking how many countries there are
len(articles_data_cleaned["country"].unique())

167

A country appears multiple times in the dataframe, but they all have the same population. Therefore I only set the population to be the first instance. <br>
Table 1:

In [179]:
countries_list = []
articles_per_capita_list = []

for country in articles_data_cleaned["country"].unique():
    article_numbers = (articles_data_cleaned['country'] == country).sum()

    population = articles_data_cleaned.loc[articles_data_cleaned['country'] == country, 'population'].values[0]
    
    if population == 0:
        articles_per_capita = 0
    else:
        articles_per_capita = article_numbers / population

    countries_list.append(country)
    articles_per_capita_list.append(articles_per_capita)

articles_per_capita_country = pd.DataFrame({
    'Country': countries_list,
    'Articles Per Capita': articles_per_capita_list
})
pd.options.display.float_format = '{:.4e}'.format
articles_per_capita_country.head(3)

       Country  Articles Per Capita
0  Afghanistan           2.0047e+00
1      Albania           2.5926e+01
2      Algeria           1.5171e+00

In [181]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
articles_per_capita_country

                            Country  Articles Per Capita
0                       Afghanistan           2.0047e+00
1                           Albania           2.5926e+01
2                           Algeria           1.5171e+00
3                            Angola           1.5804e+00
4               Antigua and Barbuda           3.3000e+02
5                         Argentina           1.3823e+00
6                           Armenia           1.2000e+01
7                           Austria           8.0435e+00
8                        Azerbaijan           7.8431e+00
9                           Bahamas           2.2500e+01
10                          Bahrain           2.6875e+01
11                       Bangladesh           4.2651e-01
12                         Barbados           8.3333e+01
13                          Belarus           4.2391e+00
14                          Belgium           6.5254e+00
15                           Belize           1.8000e+01
16                            Benin           5.1095e-01
17                           Bhutan           5.5000e+01
18                          Bolivia           2.2131e+00
19               Bosnia Herzegovina           1.2647e+01
20                         Botswana           1.1111e+00
21                           Brazil           5.0490e-01
22                         Bulgaria           1.0312e+01
23                     Burkina Faso           1.1354e+00
24                          Myanmar           1.3357e+00
25                          Burundi           1.2121e+00
26                         Cambodia           2.1765e+00
27                         Cameroon           1.6014e+00
28                       Cape Verde           1.5000e+01
29         Central African Republic           2.4194e+00
30                             Chad           1.1475e+00
31                            Chile           2.9500e+00
32                            China           1.1337e-02
33                         Colombia           1.4943e+00
34                          Comoros           2.5556e+01
35                            Congo           5.0820e+00
36                         Congo DR           5.1808e-01
37                       Costa Rica           1.1698e+01
38                          Croatia           1.7105e+01
39                             Cuba           4.5455e+00
40                           Cyprus           1.2308e+01
41                          Czechia           5.5046e+00
42                         Djibouti           1.3636e+01
43               Dominican Republic           3.2743e+00
44                      Timor Leste           1.0714e+01
45                          Ecuador           1.9298e+00
46                            Egypt           3.0418e-01
47             United Arab Emirates           2.2105e+00
48                Equatorial Guinea           1.1765e+00
49                          Eritrea           4.0541e+00
50                          Estonia           1.0714e+01
51                         Ethiopia           3.4783e-01
52                          Finland           7.3214e+00
53                           France           1.8058e+00
54                            Gabon           2.0833e+00
55                           Gambia           6.4286e+00
56                          Germany           1.2132e+00
57                            Ghana           8.7977e-02
58                           Greece           4.9057e+00
59                          Grenada           2.0000e+01
60                        Guatemala           1.5470e+00
61                           Guinea           2.4648e+00
62                           Guyana           2.1250e+01
63                            Haiti           2.9310e+00
64                         Honduras           1.7526e+00
65                          Hungary           8.9583e+00
66                            India           1.0570e-01
67                        Indonesia           4.0545e-01
68                             Iran           7.7354e-01
69                             Iraq           2.0220e+00
70                           Israel           2.0408e-01
71                            Italy           2.5170e+00
72                    Cote d'Ivoire           3.2362e-01
73                            Japan           9.3976e-01
74                           Jordan           3.1579e+00
75                       Kazakhstan           1.8090e+00
76                            Kenya           2.2505e+00
77                           Kosovo           1.5294e+01
78                           Kuwait           3.8636e+00
79                       Kyrgyzstan           2.7941e+00
80                             Laos           6.6667e-01
81                           Latvia           3.6842e+00
82                          Lebanon           9.4444e+00
83                          Lesotho           2.1739e+00
84                          Liberia           4.6296e+00
85                            Libya           4.4928e+00
86                        Lithuania           2.0000e+01
87                       Luxembourg           3.8571e+01
88                  North Macedonia           1.5000e+01
89                       Madagascar           1.1513e+00
90                           Malawi           8.0808e-01
91                         Malaysia           2.0359e+00
92                         Maldives           5.5000e+01
93                             Mali           1.2446e+00
94                            Malta           1.6667e+00
95                 Marshall Islands           1.3000e+02
96                       Mauritania           6.1224e+00
97   Federated States of Micronesia           1.4000e+02
98                          Moldova           2.0000e+01
99                           Monaco           0.0000e+00
100                        Mongolia           2.5714e+00
101                      Montenegro           6.0000e+01
102                         Morocco           1.7297e+00
103                      Mozambique           3.5398e-01
104                         Namibia           6.9231e+00
105                           Nepal           1.8123e+00
106                       Nicaragua           2.3529e+00
107                         Nigeria           1.0947e+00
108                           Niger           6.2500e-01
109                          Norway           1.8182e-01
110                            Oman           4.2000e+00
111                        Pakistan           3.9085e-01
112           Palestinian Territory           1.1091e+01
113                          Panama           6.2222e+00
114                Papua New Guinea           1.0526e+00
115                        Paraguay           3.5484e+00
116                            Peru           2.1598e+00
117                          Poland           4.2175e+00
118                        Portugal           7.1429e+00
119                           Qatar           1.8519e+00
120                          Russia           8.1007e-01
121                          Rwanda           1.1348e+00
122             St. Kitts and Nevis           3.0000e+01
123                       St. Lucia           1.5000e+01
124  St. Vincent and the Grenadines           4.0000e+01
125                     El Salvador           4.3750e+00
126                           Samoa           4.0000e+01
127                    Saudi Arabia           1.3550e-01
128                         Senegal           1.6940e+00
129                          Serbia           1.1970e+01
130                      Seychelles           6.0000e+01
131                    Sierra Leone           2.4719e+00
132                       Singapore           6.8966e-01
133                        Slovakia           6.1111e+00
134                        Slovenia           1.8095e+01
135                 Solomon Islands           1.5000e+01
136                         Somalia           5.6354e+00
137                    South Africa           1.5980e+00
138                     South Sudan           6.3063e+00
139                           Spain           2.8364e+00
140                       Sri Lanka           2.8194e+00
141                           Sudan           9.5634e-01
142                          Sweden           6.5714e+00
143                     Switzerland           9.8864e+00
144                           Syria           1.5948e+00
145                          Taiwan           4.2735e-01
146                      Tajikistan           1.3725e+00
147                        Tanzania           4.7478e-01
148                        Thailand           6.5152e-01
149                            Togo           4.3956e-01
150                           Tonga           1.0000e+02
151             Trinidad and Tobago           1.2857e+01
152                         Tunisia           4.8739e+00
153                          Turkey           6.1916e-01
154                    Turkmenistan           1.6901e+00
155                          Tuvalu           0.0000e+00
156                          Uganda           1.3374e+00
157                         Ukraine           2.1526e+00
158                         Uruguay           1.0000e+01
159                      Uzbekistan           6.8681e-01
160                         Vanuatu           1.3333e+01
161                       Venezuela           1.9444e+00
162                         Vietnam           3.6400e-01
163                           Yemen           9.3023e-01
164                          Zambia           1.4851e-01
165                        Zimbabwe           4.1317e+00
166                          Korean           8.0321e-03

### High quality articler per capita (country)

The difference with Table 1 is that we are only counting the quantiy of high quality articles.
High quality is defined as having a score of "FA" or "GA".
Table 2:

In [164]:
countries_list = []
articles_per_capita_list = []

for country in articles_data_cleaned["country"].unique():
    country_data = articles_data_cleaned[articles_data_cleaned['country'] == country]
    
    FAarticles = (country_data['article_quality'] == "FA").sum()
    GAarticles = (country_data['article_quality'] == "GA").sum()
    article_numbers = FAarticles + GAarticles
    population = articles_data_cleaned.loc[articles_data_cleaned['country'] == country, 'population'].values[0]
    
    if population == 0:
        articles_per_capita = 0
    else:
        articles_per_capita = article_numbers / population

    countries_list.append(country)
    articles_per_capita_list.append(articles_per_capita)

high_quality_articles_per_capita_country = pd.DataFrame({
    'Country': countries_list,
    'High Quality Articles Per Capita': articles_per_capita_list
})
pd.options.display.float_format = '{:.4e}'.format
high_quality_articles_per_capita_country.head(3)

       Country  High Quality Articles Per Capita
0  Afghanistan                        7.0755e-02
1      Albania                        2.5926e+00
2      Algeria                        2.1368e-02

### Total articles per capita (region)

Thiis table is similar to Table 1, except we are need to caluclate the total population for that region (sum of country population in that region). If you examine the [population_by_country_AUG.2024.csv](../input_data/population_by_country_AUG.2024.csv), the population for region will be slightly different, as the region in the csv file does not include decimal places. 
Table 3:

In [165]:
region_list = []
articles_per_capita_list2 = []

for region in articles_data_cleaned["region"].unique():
    article_numbers = (articles_data_cleaned['region'] == region).sum()
    population = articles_data_cleaned.loc[articles_data_cleaned['region'] == region, 'population'].sum()
    if population == 0:
        articles_per_capita = 0
    else:
        articles_per_capita = article_numbers / population

    region_list.append(region)
    articles_per_capita_list2.append(articles_per_capita)

articles_per_capita_region = pd.DataFrame({
    'Region': region_list,
    'Articles Per Capita': articles_per_capita_list2
})
pd.options.display.float_format = '{:.4e}'.format
articles_per_capita_region.head(3)

            Region  Articles Per Capita
0       SOUTH ASIA           2.5383e-03
1  SOUTHERN EUROPE           4.4320e-02
2  NORTHERN AFRICA           2.4872e-02

### High quality articler per capita (region)

This table is similar to Table 2, with population generated in the same manner as Table 3.
Table 4:

In [167]:
region_list = []
articles_per_capita_list2 = []

for region in articles_data_cleaned["region"].unique():
    region_data = articles_data_cleaned[articles_data_cleaned['region'] == region]
    
    FAarticles = (region_data ['article_quality'] == "FA").sum()
    GAarticles = (region_data ['article_quality'] == "GA").sum()
    article_numbers = FAarticles + GAarticles
    population = articles_data_cleaned.loc[articles_data_cleaned['region'] == region, 'population'].sum()
    if population == 0:
        articles_per_capita = 0
    else:
        articles_per_capita = article_numbers / population

    region_list.append(region)
    articles_per_capita_list2.append(articles_per_capita)

high_quality_articles_per_capita_region = pd.DataFrame({
    'Region': region_list,
    'High Quality Articles Per Capita': articles_per_capita_list2
})
pd.options.display.float_format = '{:.4e}'.format
high_quality_articles_per_capita_region.head(3)

            Region  High Quality Articles Per Capita
0       SOUTH ASIA                        7.9557e-05
1  SOUTHERN EUROPE                        2.9622e-03
2  NORTHERN AFRICA                        1.2519e-03

# Results

## Top 10 countries by coverage

The table below shows the 10 countries with the highest total articles per capita in descending order.

In [151]:
top10_coverage_country = articles_per_capita_country.sort_values(by='Articles Per Capita', ascending=False)
top10_coverage_country.head(10)

                            Country  Articles Per Capita
4               Antigua and Barbuda           3.3000e+02
97   Federated States of Micronesia           1.4000e+02
95                 Marshall Islands           1.3000e+02
150                           Tonga           1.0000e+02
12                         Barbados           8.3333e+01
130                      Seychelles           6.0000e+01
101                      Montenegro           6.0000e+01
17                           Bhutan           5.5000e+01
92                         Maldives           5.5000e+01
126                           Samoa           4.0000e+01

## Bottom 10 countries by coverage

The table below shows the 10 countries with the lowest total articles per capita in ascending order.

In [152]:
bot10_coverage_country = articles_per_capita_country.sort_values(by='Articles Per Capita', ascending=True)
bot10_coverage_country.head(10)

          Country  Articles Per Capita
99         Monaco           0.0000e+00
155        Tuvalu           0.0000e+00
166        Korean           8.0321e-03
32          China           1.1337e-02
57          Ghana           8.7977e-02
66          India           1.0570e-01
127  Saudi Arabia           1.3550e-01
164        Zambia           1.4851e-01
109        Norway           1.8182e-01
70         Israel           2.0408e-01

## Top 10 countries by high quality

The table below shows the 10 countries with the highest high quality articlers per capita in descending order.

In [168]:
top10_quality_country = high_quality_articles_per_capita_country.sort_values(by='High Quality Articles Per Capita', ascending=False)
top10_quality_country.head(10)

                   Country  High Quality Articles Per Capita
101             Montenegro                        5.0000e+00
87              Luxembourg                        2.8571e+00
1                  Albania                        2.5926e+00
77                  Kosovo                        2.3529e+00
92                Maldives                        1.6667e+00
86               Lithuania                        1.3793e+00
38                 Croatia                        1.3158e+00
62                  Guyana                        1.2500e+00
112  Palestinian Territory                        1.0909e+00
134               Slovenia                        9.5238e-01

## Bottom 10 countries by high quality

The table below shows the 10 countries with the lowest high quality articlers per capita in ascending order.

In [169]:
bot10_quality_country = high_quality_articles_per_capita_country.sort_values(by='High Quality Articles Per Capita', ascending=True)
bot10_quality_country.head(10)

                            Country  High Quality Articles Per Capita
83                          Lesotho                        0.0000e+00
106                       Nicaragua                        0.0000e+00
104                         Namibia                        0.0000e+00
103                      Mozambique                        0.0000e+00
99                           Monaco                        0.0000e+00
97   Federated States of Micronesia                        0.0000e+00
95                 Marshall Islands                        0.0000e+00
94                            Malta                        0.0000e+00
91                         Malaysia                        0.0000e+00
90                           Malawi                        0.0000e+00

## Geographic regions by total coverage

The table below shows the regions and their total articles per capita in descending order.

In [170]:
coverage_region = articles_per_capita_region.sort_values(by='Articles Per Capita', ascending=False)
coverage_region

             Region  Articles Per Capita
17          OCEANIA           6.4806e-01
15  NORTHERN EUROPE           1.6524e-01
4         CARIBBEAN           1.5481e-01
9   CENTRAL AMERICA           1.3077e-01
16     CENTRAL ASIA           5.3269e-02
6      WESTERN ASIA           4.5509e-02
1   SOUTHERN EUROPE           4.4320e-02
13   EASTERN AFRICA           2.8058e-02
7    WESTERN EUROPE           2.6267e-02
2   NORTHERN AFRICA           2.4872e-02
8    EASTERN EUROPE           2.4457e-02
3     MIDDLE AFRICA           2.4219e-02
11  SOUTHERN AFRICA           2.0657e-02
5     SOUTH AMERICA           1.6473e-02
12   SOUTHEAST ASIA           8.8472e-03
10   WESTERN AFRICA           8.7044e-03
14        EAST ASIA           4.0759e-03
0        SOUTH ASIA           2.5383e-03

## Geographic regions by high quality coverage

The table below shows the regions and their high quality articles per capita in descending order.

In [171]:
quality_region = high_quality_articles_per_capita_region.sort_values(by='High Quality Articles Per Capita', ascending=False)
quality_region

             Region  High Quality Articles Per Capita
17          OCEANIA                        9.0009e-03
15  NORTHERN EUROPE                        6.9942e-03
9   CENTRAL AMERICA                        6.9190e-03
4         CARIBBEAN                        6.3622e-03
1   SOUTHERN EUROPE                        2.9622e-03
16     CENTRAL ASIA                        2.5127e-03
6      WESTERN ASIA                        2.0177e-03
8    EASTERN EUROPE                        1.3472e-03
11  SOUTHERN AFRICA                        1.3436e-03
2   NORTHERN AFRICA                        1.2519e-03
7    WESTERN EUROPE                        1.1010e-03
3     MIDDLE AFRICA                        8.4239e-04
13   EASTERN AFRICA                        7.9924e-04
12   SOUTHEAST ASIA                        5.5995e-04
5     SOUTH AMERICA                        5.5104e-04
10   WESTERN AFRICA                        2.2144e-04
14        EAST ASIA                        7.9921e-05
0        SOUTH ASIA                        7.9557e-05